# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode/

# Misc
.DS_Store
